html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  background-color: #fafafa;
  ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/*--------------- header ---------------*/

.header-container {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-svg-box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-span {
  font-style: italic;
}

.header-nav-social-box {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
  padding-top: 28px;
  padding-bottom: 36px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover {
  color: #fd9222;
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-social-item {
  width: 24px;
  height: 24px;
}

.header-social-link {
  stroke-width: 1.50px;
  stroke: #111;
  padding-top: 28px;
  padding-bottom: 36px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover {
  stroke: #fd9222;
}

/*--------------- startpage ---------------*/

.startpage-section {
  padding: 0 20px 40px 20px;

}

.startpage-container {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  max-width: 280px;
  margin: 0 auto;
  padding: 395px 20px 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .startpage-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_mob_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .startpage-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_tab_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .startpage-container {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_tab_2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .startpage-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .startpage-container {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main_2x.jpg);
    }
  }
}


.startpage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 295px;
  margin-bottom: 32px;
}

.startpage-buttons-scrole {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
}

.startpage-buttons-box {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.startpage-button-buynow {
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.startpage-button-buynow:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.startpage-button-howitsmade {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.startpage-button-howitsmade:active {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.startpage-scrole-svgbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.startpage-scrole-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.startpage-scrole-link:hover {
  color: #fd9222;
}

.startpage-scrole-svg {
  fill: #fd9222;
  border-radius: 100%;
  background-color: #fff;
  width: 28px;
  height: 28px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.startpage-scrole-svg:hover,
.startpage-scrole-link:hover .startpage-scrole-svg {
  fill: #fff;
  background-color: #fd9222;
}

@media screen and (min-width: 768px) {
  .startpage-section {
    padding: 0 32px 20px 32px;
  }

  /* .container {
    max-width: 768px;
  } */

  .startpage-container {
    padding: 671px 40px 40px;
    max-width: 704px;
  }

  .startpage-title {
    font-size: 28px;
    max-width: 484px;
  }

  .startpage-button-buynow {
    padding: 14px 40px;
  }

  .startpage-button-howitsmade {
    padding: 14px 40px;
  }

  .startpage-scrole-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .startpage-scrole-svg {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  /* .container {
    max-width: 1200px;
  } */

  .startpage-container {
    padding: 381px 40px 40px;
    max-width: 1136px;
  }

  .startpage-section {
    padding: 0 32px 40px 32px;
  }
}

/*--------------- benefits ---------------*/

.benefits {
  padding: 40px;
  background-color: #1e1823;
}

.benefits-container {
  padding: 20px 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.benefits-item-svgbox {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}


.benefits-svgbox-img {
  fill: #fd9222;
}

.title-three {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-title-three {
  margin-bottom: 18px;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  max-width: 308px;
}

.benefits-item-text-choco {
  padding-bottom: 18px;
}

.benefits-item-text-spoon {
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {

  /* .container {
    max-width: 768px;
  } */

  .benefits {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .benefits-container {
    padding: 50px 32px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;
    row-gap: 44px;
    justify-content: flex-start;
  }

  .benefits-item {
    width: calc((100% - 88px) / 2);
  }

  .benefits-item-text-spoon {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {

  /* .container {
    max-width: 1200px;
  } */

  .benefits {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .benefits-container {
    padding: 50px 50px;
  }

  .benefits-title-three {
    line-height: 1.28571;
  }

  .benefits-item {
    width: calc((100% - 88px) / 3);
    position: relative;
  }

  .benefits-item:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%)
  }

  .benefits-list {
    gap: 88px;
    row-gap: 0;
    flex-wrap: nowrap;
  }

  .benefits-item-text-choco {
    padding-bottom: 15px;
  }

  .benefits-item-text-spoon {
    padding-bottom: 30px;
  }
}

/*--------------- ingridients ---------------*/

.ingridients {
  padding: 40px 0;
}

.ingridients-container {
  padding: 0 20px;
}

.title-two {
  text-transform: uppercase;
}

.ingredients-title-two {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  width: 283px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 27px;
}

.title-two-span {
  color: #fd9222;
}

.ingridients-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ingridients-item {
  border-radius: 15px;
  position: relative;
}

.ingridients-item-orange {
  background-color: #fd9222;
}

.ingridients-item-white {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingridients-item-black {
  background-color: #1e1823;
}

.ingredients-svgbox {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.ingredients-imgbox {
  padding: 32px 49px 16px 50px;
}

.ingredients-imgbox-img {
  width: 236px;
  height: 176px;
}

.ingredients-title-three {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 0 0 28px 28px;
}

.ingredients-title-three-black {
  color: #111;
}

.ingridients-item-none {
  display: none;
}

@media screen and (min-width: 768px) {

  /* .container {
    max-width: 768px;
  } */

  .ingridients {
    padding: 50px 0;
  }

  .ingridients-container {
    padding: 0 32px;
  }

  .ingridients-item-none {
    display: block;
  }

  .ingridients-item-milkchocolate {
    order: 1;
  }

  .ingridients-item-milk {
    order: 3;
  }

  .ingridients-item-nuts {
    order: 4;
  }

  .ingridients-item-coffee {
    order: 2;
  }

  .ingridients-item-cacao {
    order: 5;
  }

  .ingridients-item-raspberry {
    order: 6;
  }

  .ingridients-item-coconutoil {
    order: 7;
  }

  .ingridients-list {
    gap: 32px;
  }

  .ingridients-item {
    width: calc((100% - 32px) / 2);
  }

  .ingredients-imgbox {
    padding: 32px 50px 16px 50px;
  }

  .ingredients-title-two {
    padding-bottom: 50px;
    width: 411px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {

  /* .container {
    max-width: 1200px;
  } */

  .ingridients {
    padding: 60px 0;
  }

  .ingridients-item-milkchocolate {
    order: 1;
  }

  .ingridients-item-milk {
    order: 2;
  }

  .ingridients-item-nuts {
    order: 3;
  }

  .ingridients-item-coffee {
    order: 4;
  }

  .ingridients-item-cacao {
    order: 5;
  }

  .ingridients-item-raspberry {
    order: 6;
  }

  .ingridients-item-coconutoil {
    order: 7;
  }

  .ingridients-list {
    gap: 32px;
    row-gap: 24px;
  }

  .ingridients-item {
    width: calc((100% - 32px * 3) / 4);
  }

  .ingredients-imgbox {
    padding: 28px 25px 36px 23px;
  }

  .ingredients-imgbox-img {
    width: 214px;
    height: 160px;
  }
}

/*--------------- howitsmade ---------------*/

.howitsmade {
  padding: 40px 0;
}

.howitsmade-container {
  padding-left: 20px;
  padding-right: 20px;
}

.howitsmade-title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.howitsmade-picture {
  margin-bottom: 20px;
}

.howitsmade-box-img {
  border-radius: 15px;
}

.howitsmade-text {
  background-color: #fff;
  border-radius: 15px;
}

.howitsmade-text-box {
  padding: 20px 14px;
}

.howitsmade-title-three {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  padding-bottom: 20px;
}

.howitsmade-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 16px;
}

.howitsmade-item {
  position: relative;
}

.howitsmade-item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}

.howitsmade-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 5px;
  left: -16px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px #eceded solid;
}

@media screen and (min-width: 768px) {

  .howitsmade {
    padding: 50px 0;
  }

  .howitsmade-container {
    padding: 0 77px;
  }

  .howitsmade-title-two {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .howitsmade-text-box {
    padding: 32px;
  }

  .howitsmade-title-three {
    padding-bottom: 28px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {

  .howitsmade {
    padding: 60px 0;
  }

  .howitsmade-container {
    padding: 0 32px;
  }

  .howitsmade-title-two {
    line-height: 1.17;
  }

  .howitsmade-picture {
    margin-bottom: 0px;
    max-width: 600px;
    flex-shrink: 1;
  }

  .howitsmade-text {
    max-width: 516px;
  }

  .howitsmade-content {
    display: flex;
    gap: 20px;
  }

  .howitsmade-title-three {
    max-width: 340px;
  }

  .howitsmade-item-text {
    width: 430 px;
  }
}

/*--------------- ourproducts ---------------*/

.ourproducts {
  padding: 40px 0;
}

.ourproducts-section {
  padding: 0 20px;
}

.ourproducts-title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 22px;
}

.ourproducts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.ourproducts-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 335px;
}


.ourproducts-item-img {
  margin: 32px 52px 8px 53px;
}

.ourproducts-title-three {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.ourproducts-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.ourproducts-link {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 6px 20px;
  background-color: #fafafa;

  font-weight: 600;
  font-size: 14px;
  color: #111;

  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {

  .ourproducts {
    padding: 50px 0;
  }

  .ourproducts-section {
    padding: 0 32px;
  }

  .ourproducts-title-two {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .ourproducts-list {
    gap: 32px;
  }

  .ourproducts-item {
    max-width: 336px;
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {

  .ourproducts {
    padding: 60px 0;
  }

  .ourproducts-list {
    gap: 18px;
    row-gap: 24px;
  }

  .ourproducts-item {
    width: 270px;
    flex-basis: calc((100% - 18px * 3) / 4);
  }
}

/*--------------- ourproducts ---------------*/

.topsellers {
  padding: 40px 0;
}

.topsellers-container {
  padding: 0 20px;
}

.topsellers-title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.topsellers-list {
  display: flex;
}

.topsellers-item {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background-color: #fff;
}

.topsellers-item-two {
  display: none;
}

.topsellers-item-three {
  display: none;
}

.topsellers-item-box {
  position: relative;
  overflow: hidden;
}

.topsellers-item-img {
  border-radius: 15px 15px 0 0;
}

.topsellers-item-text-overlay {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(15px);
  background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 178px 40px 0 40px;
}

.topsellers-item-overlay:hover .topsellers-item-text-overlay {
  transform: translateY(0);
}

.topsellers-title-three {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .topsellers {
    padding: 50px 0;
  }

  .topsellers-container {
    padding: 0 32px;
  }

  .topsellers-title-two {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .topsellers-item-two {
    display: block;
  }

  .topsellers-list {
    gap: 16px;
  }

  .topsellers-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .topsellers {
    padding: 60px 0;
  }

  .topsellers-item-three {
    display: block;
  }

  .topsellers-item {
    width: calc((100% - 16px * 2) / 3);
  }
}

/*--------------- chocolateisloved ---------------*/

.chocolateisloved {
  padding: 40px 0;
}

.chocolateisloved-section {
  padding: 0 20px;
}

.chocolateisloved-title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 74px;
}

.chocolateisloved-list {
  display: flex;
  justify-content: center;
}

.chocolateisloved-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  position: relative;
  margin-bottom: 32px;
  width: 335px;
}

.chocolateisloved-item-two {
  display: none;
}

.chocolateisloved-item-three {
  display: none;
}

.chocolateisloved-item-photo {
  display: flex;
  justify-content: center;
}

.chocolateisloved-item-img {
  border-radius: 100%;
  position: absolute;
  margin-top: -42px;
}

.chocolateisloved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  padding: 56px 0 24px;
}

.chocolateisloved-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  padding: 0 18px 42px 18px;
}

.chocolateisloved-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #111;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chocolateisloved-btn:hover,
.chocolateisloved-btn:active {
  color: #fff;
  background-color: #fd9222;
}

@media screen and (min-width:768px) {

  .chocolateisloved {
    padding: 50px 0;
  }

  .chocolateisloved-section {
    padding: 0 32px;
  }

  .chocolateisloved-title-two {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 91px;
  }

  .chocolateisloved-item-two {
    display: block;
  }

  .chocolateisloved-list {
    gap: 16px;
  }

  .chocolateisloved-item {
    margin-bottom: 50px;
  }

  .chocolateisloved-btn {
    font-size: 18px;
    padding: 14px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .chocolateisloved {
    padding: 60px 0;
  }

  .chocolateisloved-item-three {
    display: block;
  }

  .chocolateisloved-list {
    gap: 28px;
  }
}

/*--------------- footer ---------------*/

.footer {
  margin: 40px 0 0 0;
  background: #1e1823;
}

.footer-container {
  padding: 32px 20px;
}

.footer-boxtop {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.footer-boxtop-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  text-transform: none;
  width: 300px;
}

.footer-boxtop-social {
  order: 2;
}

.footer-social-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* text-align: center; */
  color: #fff;
  margin-bottom: 14px;
}

.footer-social-list {
  display: flex;
  gap: 12px;
}

.footer-social-link-svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.50px;
  stroke: #fff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-svg:hover {
  stroke: #fd9222;
}

.footer-boxtop-contacts {
  order: 1;
}

.footer-contacts-item {
  margin-bottom: 4px;
}

.footer-contacts-item-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;

}

.footer-boxbuttom-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

.footer-boxbuttom-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;

}

.footer-boxbuttom-form {
  display: flex;
  gap: 8px;
}

.footer-boxbuttom-form-email {
  border: 1.50px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 207px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-boxbuttom-form-email:focus {
  border: 1.50px solid #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  color: #fff;
}


.footer-boxbuttom-form-email::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}



.footer-boxbuttom-form-button {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;

  padding: 14px 24px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-boxbuttom-form-button:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media screen and (min-width:768px) {

  .footer {
    margin: 50px 0 0 0;
  }

  .footer-container {
    padding: 50px 32px;
  }

  .footer-boxtop {
    flex-direction: row;
    padding-bottom: 50px;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .footer-boxtop-column {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.21;
  }

  .footer-boxtop-social {
    order: 1;
  }

  .footer-boxtop-contacts {
    order: 2;
  }

  .fotter-item-hide {
    display: none;
  }

  .footer-boxbuttom-nav-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 0;
  }

  .footer-boxbuttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-boxbuttom-form-email {
    width: 232px;
  }
}

@media screen and (min-width:1020px) {
  .footer {
    margin: 60px 0 0 0;
  }

  .footer-boxtop-column {
    gap: 50px;
  }

  .footer-boxbuttom-nav-list {
    gap: 24px;
  }

  .footer-boxbuttom-form-email::placeholder {
    font-size: 18px;
  }

  .footer-boxbuttom-form-email {
    width: 313px;
    font-size: 18px;
  }
}